/*styles for background*/
.fpwdbackgrd{
	background-color:#948E99;
	margin-top:100px;
	margin-bottom:-150px;
	height:650px;
	width:100%;
	position:fixed;
  }
 
 /*styles for heading 3*/
div h3{
	position:absolute;
	top:17%;
	left:8%;
	font-family:serif;
	font-size:35px;
}

/*styles for form */
 form{
	width:80%;  
	height:240px;
	padding:25px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
  	display:block;
  	border-radius: 4px;
  	box-sizing: border-box;
	background-color:white;
	border: 1px solid black;
	opacity: 0.8;
	color:black;
	font-weight:bold;
	position:absolute;
	top:25%;
	left:10%;
	
}
form p{
	font-family:arial;
}

/*styles for email box*/
form input[type=email]{ 
	width: 30%;
  	padding: 5px 20px;
  	margin: 12px;
	margin-left:20px;
  	display: inline-block;
	border: 1px solid black;
  	border-radius: 4px;
  	box-sizing: border-box;
	color:purple;
	background-color:white;
	font-weight:bold;
}

.emailcontainer{
	margin-top:25px;
}
/*styles for submit button*/
form button{
	background-color:#11998e;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top:10px;
	border: 1px solid white;
	border-radius: 4px;
	float:right;
	cursor:pointer;
 }
 
 /*style for star symbol*/
.star{
color:red;
}