.passimg{
		background-image:url("../images/background2.jpg")
}
.box8{
	border: 1px solid black;
    	padding: 25px 50px 500px 40px;
	margin: 10px 300px 10px 300px;
	background-color:#CDB599FF;
}
.box9{
	border: 1px solid black;
    	padding: 120px 90px 110px 120px;
	margin: 10px 300px 10px 250px;
	background-color:#CDB599FF;
	position: absolute;
	left:18%;
	top:25%;
	vertical-align: middle;
	float:left;
}
.bttn7{
	background-color: #85adad; /* Green */
  	border: none;
  	padding: 10px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	color: white;
	position: absolute;
	left:35%;
	top:70%;
	vertical-align: middle;
	float:center;
}